a {
    text-decoration: none;
    padding-left: 200px;
    color: black;
}

.eventp2 {
    margin-top: 5%;
    margin-left: 5%;
}

.eventp2 form {
    width: 100%;
    padding-right: 10px;
}

/* .eventp2 form table .ip2 ~td {
    padding-right:50px;
    width:100%;
} */
.eventp2 form table td input {
    padding: 10px;
    margin-right: 10px;
    /* width:100%; */

}

.part1 {
    padding-left: 120px;
    padding-top: 50px;
}

.imgevents {
    width: 300px;
    padding-left: 200px;
    padding-right: 50px;
}

.buttonevents {
    position: relative;
    top: 140px;
    left: 1050px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
}

.buttonevents_2 {
    position: relative;
    top: 344px;
    left: 900px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
}

.buttonevents_3 {
    position: relative;
    top: 587px;
    left: 750px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
}

.divFooter {
    background-color:#1d0b0b;
    height:225px;
}

.afooter {
    color:grey;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
}

.pfooter {
    width: 300px;
    padding-left: 150px;
    padding-right: 150px;
    color:grey;
}

.divFooter_p2 {
    background-color: black;
    color: white;
    position: relative;
    bottom:-40px;
}

.tdfooter {
    padding-left: 100px;
    color:grey;
}

.imgfooter {
    padding-top:20px;
    color:white;
}

.thfooter {
    position: relative;
    left: 11%;
    color:white;
}

.thfooter_2 {
    position: relative;
    left: 31%;
    color:white;
}

.mainMenu {
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
    height: 125px;
}